<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{../../resources/static/style.css}" />
    <title>User Page</title>
</head>
<body>
<form th:action="@{/users}" th:method="post" th:object="${user}">
<div class="form">
    <div class="inputBox">
    <input type="text" th:field="*{username}" placeholder="Username">
    </div>
</div>

    <div class="form">
        <div class="inputBox">
            <input type="password" th:field="*{password}" placeholder="Password">
        </div>
    </div>

    <div class="form">
        <div class="inputBox">
            <button type="submit">Save</button>
        </div>
    </div>


</form>
</body>
</html>